/* Colours used in web page. */
$primary-colour: #000080;
$secondary-colour: #000066;
$primary-colour-dark: rgba(31, 38, 135, 0.37);

$contrast-colour: #f5f5f5;
$contrast-colour-glass: rgba(245, 245, 245, 0.4);

$shadow-dark: rgba(0,0,0,0.8);
$shadow-mid: rgba(0,0,0,0.5);
$shadow-light: rgba(0,0,0,0.2);