/* The styling of the header component. Neomorphic styling applied to create the elevated effect of the header. */
.vertical-flex {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Styling of the company logo. */
img {
  border-radius: 50%;
  box-shadow: 5px 5px 15px $shadow-dark;
}
